<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px">
            <el-row :gutter="20">
                <el-col :span="8">
                    <el-form-item label="배송 id" prop="deliveryId">
                        <el-input v-model="ruleForm.id"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="날짜" prop="deliveryDate">
                        <el-input v-model="ruleForm.deliveryDate"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="배송유형" prop="deliveryType">
                        <el-input v-model="ruleForm.deliveryType"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="배송번호" prop="deliveryNumber">
                        <el-input v-model="ruleForm.age"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="10">
                <el-col>
                    <el-form-item>
                        <el-button type="primary"  size="medium" @click="addDelivery()">등록</el-button>
                      <el-button type="info"  size="medium" @click="goList()">목록</el-button>
                    </el-form-item>

                </el-col>
            </el-row>

        </el-form>
    </div>

</template>

<script>
export default {
  data() {
    return {
      ruleForm: {
        id: '',
        deliveryDate: '',
        deliveryType: '',
        deliveryNumber: '',
      },

    }
  },
  methods:{


    goList() {
      this.$router.push('/delivery/list')
    },

    addDelivery() {
      this.$router.push('/delivery/detail/add')
    },

    setData() {
      let payload = {
        id: this.ruleForm.id,
        deliveryDate: this.ruleForm.deliveryDate,
        deliveryType: this.ruleForm.deliveryType,
        deliveryNumber: Number(this.ruleForm.deliveryNumber)
      }
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
      this.$store.dispatch(this.$testDataConstants.DO_CREATE, payload)
          .then(res => {
            this.$toast.success(res.data.msg)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
            this.$router.replace('/delivery/list')
          })
          .catch(err => {
            this.$toast.error(err.response.data.msg)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          })
    }
  }
}
</script>
