<template>
  <div class="question-container">
    <el-alert
        title="처리해야 할 게시물이 있습니다 !"
        type="warning"
        center
        show-icon>
    </el-alert>
    <el-progress :text-inside="true" :stroke-width="22" :percentage="90" status="warning"></el-progress>
    <el-table
        :data="tableData.filter(data => !search || data.questionTitle.toLowerCase().includes(search.toLowerCase()))"
        style="width: 100%">
      <el-table-column
          label="게시물 번호"
          prop="questionNumber">
      </el-table-column>
      <el-table-column
          label="날짜"
          prop="questionDate">
      </el-table-column>
      <el-table-column
          label="게시물 제목"
          prop="questionTitle">
      </el-table-column>
      <el-table-column
          label="처리 상태"
          prop="questionState">
      </el-table-column>
      <el-table-column
          align="right">
        <template slot="header" slot-scope="scope">
          <el-input
              v-model="search"
              size="mini"
              placeholder="Type to search"/>
        </template>
        <template slot-scope="scope">
          <el-button
              type="text"
              size="medium"
              >상세보기</el-button>
          <el-button
              type="text"
              size="medium"
              @click="handleEdit(scope.$index, scope.row)">수정</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="page-button">
      <el-pagination
          background
          layout="prev, pager, next"
          :total="1000">
      </el-pagination>
    </div>
  </div>

</template>

<script>
export default {
  data() {
    return {
      tableData: [{
        questionNumber: 1,
        questionDate: '2024-02-02',
        questionTitle: '배송 문의 드려요',
        questionState: '접수'
      }, {
        questionNumber: 2,
        questionDate: '2024-02-01',
        questionTitle: '제품 문의드려요',
        questionState: '접수'
      }, {
        questionNumber: 3,
        questionDate: '2024-01-31',
        questionTitle: '반납 접수 했는데 기사님이 안와요',
        questionState: '접수'
      }, {
        questionNumber: 4,
        questionDate: '2023-12-03',
        questionTitle: '이거 주문 가능한가요',
        questionState: '접수'
      }],
      search: '',
    }
  },
  methods: {
    handleEdit(index, row) {
      console.log(index, row);
    },
  },
}
</script>