<template>
  <div class="question-container">
    <el-table
        :data="list"
        style="width: 100%">*.
      <el-table-column
          label="배송 id"
          prop="id">
      </el-table-column>
      <el-table-column
          label="닐짜"
          prop="deliveryDate">
      </el-table-column>
      <el-table-column
          label="배송유형"
          prop="deliveryType">
      </el-table-column>
      <el-table-column
          label="배송번호"
          prop="deliveryNumber">
      </el-table-column>
      <el-table-column
          align="right">
        <template slot="header" slot-scope="scope">
          <el-input
              v-model="search"
              size="mini"
              placeholder="Type to search"/>
        </template>
        <template slot-scope="scope">
          <el-button type="text"@click="goDetail()">상세보기</el-button>
          <el-button
              size="small"
              @click="handleEdit(scope.$index, scope.row)">수정</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="page-button">
      <el-pagination
          background
          layout="prev, pager, next"
          :total="1000">
      </el-pagination>
      <div class="list-button">

        <el-button type="info"@click="addData()">등록</el-button>
    </div>

  </div>
  </div>

</template>


  <script>
    import tableData from "core-js/internals/array-iteration";

    export default {
      computed: {
        tableData() {
          return tableData
        }
      },
      data() {
        return {
          list: []
        }
      },


         // tableData: [{
         //   deliveryId:1,
         //   orderId: 1,
         //   deliveryDate: '2024-02-21',
         //   deliveryType: '배송',
          //   deliveryNumber: '121212454'
        // },
          //  {
          //   deliveryId:2,
          //    orderId: 1,
          //   deliveryDate: '2024-10-02',
          //  deliveryType: '반송',
          //  deliveryNumber: '11124541'
          // },{
          //  deliveryId:1,
          //  orderId: 1,
          //  deliveryDate: '2024-02-21',
          //  deliveryType: '배송',
          //  deliveryNumber: '151545'
          //},{
          //  deliveryId:3,
          //  orderId: 5,
          //  deliveryDate: '2024-02-21',
          //  deliveryType: '배송',
          //  deliveryNumber: '1515045'
          //}],



      methods: {

        addData(){
          this.$router.push('delivery/detail/add')
        },

        //배송 디테일로 간다
        goDetail(){
          this.$router.push('/delivery/detail')
        },

        // 리스트를 가지고와라
        getList() {
          this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW,true)

          this.$store.dispatch(this.$deliveryConstants.DO_DELIVERY_LIST)
              .then((res) => {
                console.log('deliveryList',res);
                    this.list = res.data
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
              })
              .catch((err)=> {
                this.$toast.error(err.response.data.msg)
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW,false)
              })
        },

        // 상세정보로 가는

        moveDetail(data) {
          let linkBaseUrl = '/delivery/detail/'
          this.$router.push(`${linkBaseUrl}${data.id}`)
        },


        handleEdit(item) {
          console.log(item);
        },
      },

      created() {
        this.getList()
      },
      mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DELIVERY_LIST')
      },

    }
  </script>






