<template>
<!--  <section class="sq-main-sidebar-menu">
    <div class="item" v-for="(menuData, menuIndex) in menusList" v-bind:key="menuIndex">
      <div class="in-title">
        <i class="el-icon-folder" />{{ menuData.parentName }}
      </div>
      <ul>
        <li v-for="(menuData2, menuIndex2) in menuData.menuLabel" v-bind:key="menuIndex2" v-if="menuData2.isShow">
          <i :class="menuData2.icon"></i>
          <nuxt-link :to="menuData2.link">{{ menuData2.currentName }}</nuxt-link>
        </li>
      </ul>
    </div>
  </section>-->
  <el-row class="tac">
    <el-col :span="24">
      <el-menu
          v-for="(menuData, menuIndex) in menusList" v-bind:key="menuIndex"
          default-active="2"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose">

        <div v-for="(menuData2, menuIndex2) in menuData.menuLabel">
          <nuxt-link :to="menuData2.link" v-if="!menuData2.subMenu">
            <el-menu-item>
                <i :class="menuData2.icon"></i>
                <span>{{ menuData2.currentName }}</span>
            </el-menu-item>
          </nuxt-link>
          <el-submenu v-if="menuData2.subMenu">
            <template slot="title">
              <i class="el-icon-edit-outline"></i>
              <span>{{ menuData2.currentName}}</span>
            </template>
            <el-menu-item-group>
              <nuxt-link :to="subMenuData.link" v-for="(subMenuData, subIndex) in menuData2.subMenu">
                <el-menu-item>
                  <i :class="subMenuData.icon"></i>
                  <span>{{ subMenuData.currentName}}</span>
                </el-menu-item>
              </nuxt-link>
            </el-menu-item-group>
          </el-submenu>


        </div>

      </el-menu>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
    }
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  },
  computed: {
    menusList() {
      return this.$store.getters[this.$menuConstants.GET_MENUS_LIST]
    },
  }
}
</script>
