<script setup>

</script>

<template>
  <div style="padding: 80px 0;">
    <el-col :span="18">
      <el-form ref="form" :model="form" label-width="120px">
        <div>
          <el-input placeholder="Please input" v-model="input1">
            <template slot="prepend">상품코드</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="Please input" v-model="input1">
            <template slot="prepend">상품명</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="Please input" v-model="input1">
            <template slot="prepend">상품설명</template>
          </el-input>
        </div>
        <div>
          <template slot="prepend">사이즈</template>
          <el-checkbox-group v-model="checkList">
            <el-checkbox label="small"></el-checkbox>
            <el-checkbox label="medium"></el-checkbox>
            <el-checkbox label="large"></el-checkbox>
          </el-checkbox-group>

        </div>

        <div>
          <el-input placeholder="Please input" v-model="input1">
            <template slot="prepend">Http://</template>
          </el-input>
        </div>

      </el-form>
    </el-col>
  </div>


</template>

<style scoped>
.el-select .el-input {
  width: 110px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}


</style>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        region: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      },
      checkList: []
    };
  }
};
</script>
