
<template>
  <div>
    <el-row>
      <el-col :span="4">
        <div class="bg-black">

        </div>
      </el-col>
      <el-col :span="12">
        <div class="bg-gradient"></div>
      </el-col>
    </el-row>

  </div>

</template>

<style scoped>

</style>

<script setup>

</script>
